@model eComm_Reporting_Application.Models.SubscriptionGroupsModel

@{
    ViewData["Title"] = "Add New User";
}

<div class="page-header">
    <div class="page-title">
        <h1 class="title-text">Add New User</h1>
    </div>
</div>