@model eComm_Reporting_Application.Models.SubscriptionGroupsModel

@{
    ViewData["Title"] = "User Subscriptions Groups";
}

@section Scripts{ 
    <script src ="~/js/userSubscriptions.js"></script>
}
<link rel="stylesheet" href="~/css/userSubscriptions.css" />

<div class="page-header">
    <div class="page-title">
        <h1 class="title-text">User Subscription Groups</h1>
    </div>
</div>

<div class="filter-data">
    <div class="first-row">
        <div class="master-group">
            <label class="filter-label" for="masterGroupDropdown">Master Group:</label>
            <select id="masterGroupDropdown" name="masterGroupDropdown" multiple>
                @foreach (var master_group in @Model.masterGroupsList)
                {
                    <option value=@master_group> @master_group </option>
                }
            </select>
        </div>
        <div class="group">
            <label class="filter-label" for="groupDropdown">Group:</label>
            <select id="groupDropdown" name="groupDropdown" multiple>
                @foreach (var group in @Model.groupsList)
                {
                    <option value=@group> @group </option>
                }
            </select>
        </div>
        <div class="is-active">
            <p class="radio-label filter-label">Is Active:</p>
            <div class="radio-btns">
                <input type="checkbox" id="checkYes" name="is_active" value="yes" />
                <label id="yesBox" class="yes-box" for="yes">Yes</label>
                <input type="checkbox" id="checkNo" name="is_active" value="no" />
                <label for="no">No</label>
            </div>
        </div>
    </div>
    
    <button id="btnViewData" class="btnViewData" type="button">View Data</button>
</div>

<div class="separator-line">
</div>

<div class="addNewUserSubscription">
    <h4 class="addNewText">Add New User</h4>
    <button id="addNewBtn" class="addNewBtn"><i class="fas fa-plus-circle" onclick="location.href='@Url.Action("AddNewUser", "SubscriptionGroups")'"></i></button>
</div>

<div id="userSubscriptionData">
</div>

<button id="btnSubmit" class="btnSubmit" type="button">Submit</button>