@{
    ViewData["Title"] = "Help";
}
@section Scripts{
    <script src="~/js/help.js"></script>
}
<link rel="stylesheet" href="~/css/help.css" />

<div class="page-header">
    <div class="page-title">
        <h1 class="title-text">How to Create a Report Subscription</h1>
    </div>
</div>

<div class="subscription-steps">
    <div class="individual-step">
        <h5>1. Create a User and Add Them to the Desired Subscription Group(s)</h5>

        <div class="list-elements">
            <ol type="a">
                <li>Click on "Add New User"</li>
                <li>Enter the User's email, and select their active status</li>
                <li>Select a master group to view it's subscription groups</li>
                <li>Select the subscription group that the User will be added to, then click "Submit User".</li>
                <li>Note: You can add the User to multiple groups - the dropdown box allows you to select multiple.</li>
            </ol>
        </div>
        
        <div class="video-tutorial">
            <video width="500" controls>
                <source src="~/Videos/Add user to subscription group.mp4" type="video/mp4">
                Your browser does not support HTML video.
            </video>

        </div>
    </div>
</div>
