@{
    ViewData["Title"] = "Add New Report Subscription";
}

<div class="page-header">
    <div class="page-title">
        <h1 class="title-text">Add New MarMaxx Report Subscription</h1>
    </div>
</div>