@model eComm_Reporting_Application.Models.AddNewReportSubDropdownModel
@{
    ViewData["Title"] = "Edit Report Subscription";
}

@section Scripts{
    <script src="~/js/editMarMaxxReport.js"></script>
}
<link rel="stylesheet" href="~/css/editMarMaxxReport.css" />

<div class="page-header">
    <div class="page-title">
        <h1 class="title-text">Edit MarMaxx Report Subscription</h1>
    </div>
</div>

<div class="filter-data">
</div>

<div id="hiddenParamNames">
</div>

<div id="hiddenSelectedReport">
</div>
