@model eComm_Reporting_Application.Models.ReportPageDropdownModel

@{
    ViewData["Title"] = "MarMaxx Reports Subscriptions";
}

@section Scripts{
    <script src="~/js/marMaxxReports.js"></script>
}
<link rel="stylesheet" href="~/css/marMaxxReports.css" />


<div class="page-header">
    <div class="page-title">
        <h1 class="title-text">MarMaxx Report Subscriptions</h1>
    </div>
</div>

<div class="filter-data">
    
    <div class="first-row">
        <div class="main-dropdown">
            <label class="filter-label" for="marMaxxFolderDropdown">Folder:</label>
            <select id="marMaxxFolderDropdown" name="marMaxxFolderDropdown" onchange="selectedFolder();" multiple>
                @foreach (var folder in @Model.folders)
                {
                    <option value=@folder.folderName> @folder.folderName </option>
                }
            </select>
        </div>
        <div class="main-dropdown">
            <label class="filter-label" for="marMaxxReportDropdown">Report Name:</label>
            <select id="marMaxxReportDropdown" name="marMaxxReportDropdown">
            </select>
        </div>
    </div>
    
    <button id="btnViewMarmaxxData" class="btnViewData" type="button">View Data</button>
</div>

<div class="separator-line">
</div>

<div class="addNew">
    <h4 class="addNewText">Add New Subscription</h4>
    <button id="addNewBtn" class="addNewBtn"><i class="fas fa-plus-circle" onclick="location.href='@Url.Action("AddNewReportSub", "MarMaxxReports")'"></i></button>
</div>

<div id="marMaxxSubscriptionData">
</div>

<button id="btnSubmitUser" class="btnSubmit" type="button">Submit</button>