.btn-group {
    float: right;
}

#viewReportParams {
    width: 200px;
    background-color: #9E0000;
    color: white;
    font-weight: 700;
}
.addnew-dropdown{
    width: 440px;
}

.subscription-textbox {
    float: right;
}

@media screen and (max-width: 1920px) {
    .subscription-textbox {
        width: 290px;
    }
    #viewReportParams {
        margin-left: 124px;
    }
    .dynamic-params {
        max-height: 600px;
        
        width: 32%;
    }
    .filter-data {
        width: 35%;
    }
}

@media screen and (max-width: 1280px) {
    .subscription-textbox {
        width: 250px;
    }
    #viewReportParams {
        margin-left: 126px;
    }
    .dynamic-params {
        max-height: 297px;
        width: 45%;
    }
    .filter-data {
        width: 45%;
    }
    .addnew-row-last{
        margin-top: 16px;
    }
}

.addnew-textbox{
    width: 440px;
}

.textbox{
    margin-bottom:10px;
}

.filter-data{
    float: left;
}

.dynamic-params {
    margin-top: 12px;
    display: inline-block;
    overflow-y: scroll;
    min-height: 240px;
}

.first-row-dropdown {
    margin-top: 0px;
}

.separator-vertical {
    border-right: 6px solid gray;
}