.btn-group {
    float: right;
}

#viewReportParams {
    width: 200px;
    background-color: #9E0000;
    color: white;
    font-weight: 700;
}
.addnew-dropdown{
    width: 440px;
}

.subscription-name {
    float: right;
}

@media screen and (max-width: 1920px) {
    .subscription-name {
        width: 290px;
    }
    #viewReportParams {
        margin-left: 120px;
    }
}

@media screen and (max-width: 1280px) {
    .subscription-name {
        width: 250px;
    }
    #viewReportParams {
        margin-left: 126px;
    }
}

.sub-name{
    width: 440px;
}

.textbox{
    margin-bottom:10px;
}

.filter-data{
    width: 45%;
    float: left;
}

.dynamic-params {
    width: 45%;
    margin-top: 12px;
    display: inline-block;
}