.addNewGroups{
    width: 40%;
    float: left;
}

.groupsTableDiv{
    width: 60%;
    display: inline-block;
}

@media screen and (max-width: 1920px) {
    .addNewGroups {
        width: 35%;
    }
    .groupsTableDiv {
        width: 65%;
    }
}

@media screen and (max-width: 1280px) {
    .addNewGroups {
        width: 43%;
    }
    .groupsTableDiv {
        width: 57%;
    }
}

.groups-div {
    margin-top: 25px;
    margin-inline: 3.5%
}

.btn-group {
    float: right;
}

.addnew-textbox{
    width: 420px;
}

.groupsHeader {
    height: 40px;
    background: #E5E5E5;
    position: sticky;
    top: 0px;
    z-index: 10;
}

#groupsTable {
    border: 1px solid black;
}
