
.subscription-steps {
    margin-left: 5%;
    margin-top: 12px;
}

video{
    width: 100% !important;
    height: auto !important;
}

.list-elements{
    width: 40%;
    float: left;
    margin-top: 8px;
}

.video-tutorial{
    margin-top: 15px;
    margin-left: 55px;
    display: inline-block;
    width: 40%;
}

.separator-line-help {
    margin-top: 12px;
    width: 96%;
    height: 0px;
    border: 2px solid #BDBDBD;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
}

.individual-step{
    margin-top:20px;
}