#marMaxxSubscriptionData {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 93%;
}

.horizontal-scroll {
    overflow-x: scroll;
}

#marMaxxSubscriptionsTable_filter {
    float: left;
    margin-left: 45px;
    line-height: 1.34;
    margin-top: 0px;
}

#marMaxxSubscriptionsTable_length {
    margin-top: 0px;
}

.marMaxxSubscriptionsTable {
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
}

.marMaxxSubscriptionsHeader {
    text-align: center;
    padding-inline: 20px;
}

.marMaxxSubscriptionsRow {
    border-bottom: 1px solid #ADADAD;
    height: 32px;
}

.marMaxxSubscriptionsRow_Last {
    height: 32px;
}

.marMaxxSubscriptionsRow_Header {
    height: 40px;
    background: #E5E5E5;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.marMaxxSubscriptionsEntry_SubscriptionID, .marMaxxSubscriptionsEntry_SubscriptionName, .marMaxxSubscriptionsEntry_ReportName, .marMaxxSubscriptionsEntry_GroupName, .marMaxxSubscriptionsEntry_GroupID, .marMaxxSubscriptionEntry_Dynamic {
    text-align: center;
}

.marMaxxSubscriptionsEntry_Icon{
    min-width: 60px;
}

.addNew{
    margin-bottom: -36px;
    margin-top: 36px;
    z-index: 3;
    position: relative;
}