/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.top-bar{
    max-width:100%;
    padding-left:0px;
    height:80px;
}

.tjx-icon{
    width: 110px;
    height: 90px;
}

.site-header {
    background-color: lightgrey !important;
    border: 1.2px solid #BDBDBD;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1px;
}

.page-header {
    background-color: #9E0000;
    margin-inline: 2.5%;
    height: 35px;
    margin-top: 25px;
}

.page-content {
    max-width: 100%;
}

.title-text {
    margin-left: 22px;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: #FFFFFF;
}

.filter-data {
    margin-left: 5%;
    margin-top: 12px;
}
.radio-label{
    float:left;
}
.radio-btns{
    float:left;
    margin-left:10px;
}

.multiselect {
    width: 290px;
    height: 33px;
}

.is-active {
    width: 470px;
    height: 38px;
    padding: 12px 0;
    float: left;
    margin-right: 110px;
}

.groupID {
    width: 470px;
    padding: 8px 0;
    float: left;
}

.group {
    width: 470px;
    padding: 8px 0;
    float: left;
    margin-right: 110px;
}

.master-group {
    width: 470px;
    padding: 8px 0;
    float: left;
}

.first-row{
    width: 100%;
    display: inline-block;
}

.second-row {
    width: 100%;
    display: inline-block;
    margin-top: -7px;
}

#yesBox{
    margin-right: 5px;
}

.filter-label {
    font-weight: 600;
    margin-right: 6px;
    font-size: 15px;
}

.btnViewData {
    float: right;
    margin-top: -22px;
    margin-right: 2.5%;
    width: 100px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px #999;
    font-weight: 500;
}

    .btnViewData:active {
        box-shadow: 0 2px #666;
        transform: translateY(4px);
    }

.btnViewData:focus {
    outline: none;
}

.separator-line {
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0px;
    top: 290px;
    border: 2px solid #BDBDBD;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
}

.nav-option{
    margin-inline: 0.8rem;
}

#userSubscriptionData {
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 45px;
    overflow: scroll;
}

@media screen and (max-width: 1920px) {
    #userSubscriptionData {
        max-height: 435px;
    }
}

@media screen and (max-width: 1280px) {
    #userSubscriptionData {
        max-height: 210px;
    }
}

.userSubscriptionsTable {
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
}

.userSubscriptionsHeader{
    text-align: center;
}

.userSubscriptionsEntry {
    text-align: center;
}

.userSubscriptionsRow {
    border-bottom: 1px solid #ADADAD;
    height: 32px;
}

.userSubscriptionsRow_Last {
    height: 32px;
}

.userSubscriptionsRow_Header {
    border-bottom: 1px solid #ADADAD;
    height: 40px;
    background: #E5E5E5;
}

.deleteBtn {
    border: none;
    background: white;
    margin-left: 1px;
}

.editBtn {
    border: none;
    background: white;
    margin-left: 1px;
}

#addNewUserSubscription {
    float: right;
    margin-top: 50px;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: -8px;
}

.addNewText {
    float: left;
    margin-right: 7px;
    line-height: 48px;
    color: #9E0000;
    font-weight: 700;
}

.addNewBtn{
    float: left;
    border: none;
    background: white;
}

    .addNewBtn:focus {
        outline: none;
        transform: rotate(45deg);
    }

.fa-plus-circle {
    font-size: 3em;
    color: #9E0000;
}

.btnSubmit {
    position: absolute;
    bottom: 75px;
    right: 3.4%;
    width: 100px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px #999;
    background-color: #9E0000;
    color: white;
    font-weight: 700;
}

    .btnSubmit:active {
        box-shadow: 0 2px #666;
        transform: translateY(4px);
    }
    .btnSubmit:focus {
        outline: none;
    }
/*tr.userSubscriptionsRow_Header th{
    background: lightgrey;
    border-radius: 15px;
}*/
