.is-active {
    width: 200px;
    height: 38px;
    padding: 14px 0;
    float: left;
    margin-left: -45px;
}

#userSubscriptionData {
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 45px;
    overflow: scroll;
}

@media screen and (max-width: 1920px) {
    #userSubscriptionData {
        max-height: 445px;
    }
}

@media screen and (max-width: 1280px) {
    #userSubscriptionData {
        max-height: 210px;
    }
}

.userSubscriptionsTable {
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
}

.userSubscriptionsHeader {
    text-align: center;
}

.userSubscriptionsEntry_isActive, .userSubscriptionsEntry_Group, .userSubscriptionsEntry_GroupID, .userSubscriptionsEntry_masterGroup {
    text-align: center;
}

.userSubscriptionsRow {
    border-bottom: 1px solid #ADADAD;
    height: 32px;
}

.userSubscriptionsRow_Last {
    height: 32px;
}

.userSubscriptionsRow_Header {
    box-shadow: 0 0 0 1px black;
    height: 40px;
    background: #E5E5E5;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.deleteBtn {
    border: none;
    background: white;
    margin-left: 1px;
}

.fa-trash {
    color: #9E0000;
}

.radio-btns {
    margin-left: 10px;
}

.userSubscriptionsEntry_Email{
    width: 350px;
}