@{
    ViewData["Title"] = "Sierra Reports Subscriptions";
}
@section Scripts{
    <script src="~/js/sierraReports.js"></script>
}
<link rel="stylesheet" href="~/css/sierraReports.css" />

<div class="page-header">
    <div class="page-title">
        <h1 class="title-text">Sierra Reports Subscriptions</h1>
    </div>
</div>
