@{
    ViewData["Title"] = "Sierra Reports Subscriptions";
}

<div class="page-header">
    <div class="page-title">
        <h1 class="title-text">Sierra Reports Subscriptions</h1>
    </div>
</div>
